.maner {
    -fx-background-color: #f5fafa;
}

.img_side {
    -fx-background-color: #478d8d;
}

.img_side AnchorPane FontAwesomeIconView  {
    -fx-fill: #FFFFFF;
}

.img_side #admin_lbl {
    -fx-text-fill: #FFFFFF;
}

.img_side #modifyad_btn, #searsh_btn {
    -fx-background-color: #EEEEEE;
    -fx-border-radius: 0px;
    -fx-text-fill: #478d8d;
    -fx-effect: dropshadow(two-pass-box, #555555,3,0,0,3);
}

.img_side #modifyad_btn:hover, #searsh_btn:hover {
    -fx-background-color: #c1d9d9;
    -fx-text-fill: #326565;
    -fx-font-weight: bold;
    -fx-padding: 2px;
    -fx-effect: dropshadow(two-pass-box, #000000,2,0,0,1);
}
.img_side #logout_btn, #back_btn {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-font-size: 30px;
}

.img_side #logout_btn FontAwesomeIconView:hover, #back_btn FontAwesomeIconView:hover {
    -fx-effect: dropshadow(three-pass-box, #000000,2,0,0,2);
    -fx-fill: #ff0000;
}

.buttons_box Button {
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-pref-height: 40px;
    -fx-wrap-text: none;
}

.buttons_box #book_btn {
    -fx-background-color: linear-gradient(to right, #5070c2, #1e3ac9);
    -fx-text-fill: #e1ece8;

}

.buttons_box #book_btn:hover {
    -fx-background-color: linear-gradient(to right, #577dda, #1430b2);
    -fx-text-fill: #abdcc7;
    -fx-effect: dropshadow(two-pass-box, rgba(13, 83, 171, 0.9),2,1,1,2);
}

.buttons_box #res_btn {
    -fx-background-color: linear-gradient(to right, #d02c2c, #c52555);
    -fx-text-fill: #cff346;
}

.buttons_box #res_btn:hover {
    -fx-background-color: linear-gradient(to right, #e15959, #d70e4b);
    -fx-text-fill: #d6f65a;
    -fx-effect: dropshadow(two-pass-box, rgba(168, 17, 17, 0.9),2,1,1,2);
}

.buttons_box #std_btn {
    -fx-background-color: linear-gradient(to right, #1ad71d, #17b981);
    -fx-text-fill: #a930d9;
}

.buttons_box #std_btn:hover {
    -fx-background-color: linear-gradient(to right, #7def7f, #23b986);
    -fx-text-fill: #a14ac7;
    -fx-effect: dropshadow(two-pass-box, rgba(28, 194, 32, 0.9),2,1,1,2);
}

.buttons_box #dash_btn {
    -fx-background-color: linear-gradient(to right, #f4ff00, #ff9e0d);
    -fx-text-fill: #b00a0a;
}

.buttons_box #dash_btn:hover {
    -fx-background-color: linear-gradient(to right, #e7f160, #f3a52f);
    -fx-text-fill: #f53b3b;
    -fx-effect: dropshadow(two-pass-box, #ef9e25,2,1,1,2);
}

/* update admin */
#username_fld, #password_fld {
    -fx-text-fill: #478d8d;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-spacing: 1px;
}

.modify_box Text {
    -fx-text-fill: #478d8d;
}

.modify_box TextField {
    -fx-border-color: #478d8d;
    -fx-border-radius: 6px;
    -fx-font-weight: bold;
    -fx-background-color: rgba(228, 246, 246, 0.8);
}

.modify_box Button {
    -fx-pref-width: 80px;
    -fx-pref-height: 10px;
    -fx-border-style: None;
    -fx-border-radius: 10px;
}

.modify_box #reset_btn {
    -fx-background-color: #1498be;
    -fx-text-fill: #FFFFFF;
}

.modify_box #reset_btn:hover {
    -fx-background-color: #2fc4f1;
    -fx-font-weight: bold;
}

.modify_box #clear_btn {
    -fx-background-color: #cb4800;
    -fx-text-fill: #FFFFFF;
}

.modify_box #clear_btn:hover {
    -fx-background-color: #ff5a04;
    -fx-font-weight: bold;
}

.modify_box #update_btn {
    -fx-background-color: #0e9644;
    -fx-text-fill: #FFFFFF;
}

.modify_box #update_btn:hover {
    -fx-background-color: #07b74b;
    -fx-font-weight: bold;
}

